body {
    font-family: 'Helvetica';
    color: #c0c0c0;
    margin: 0;
    padding: 20px;
    background-image: url('https://public.etal.solutions/assets/et-al-solutions-llc/logos/woodgrain.png');
    background-size: cover;          /* Fill the whole screen */
    background-position: center;     /* Keep it centered */
    background-repeat: no-repeat;    /* No tiling */
    background-attachment: fixed;    /* Optional: parallax-style effect */
}

/*body a {font-weight:bolder; text-decoration: none; font-size:18px;}
body a:hover {text-decoration: underline;}*/

header {
    background-color: #000;
    color: #c0c0c0;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

.sidebar { background: #000; margin: -20px 16px 0px; padding: 50px 0 0 }
.sidebar li { list-style: none; margin: 4px 0; }
.top-row { display: block; padding: 12px 0; position: absolute; top:0px; left:0px; width:100%; border-bottom: 1px solid #c0c0c0;}
.top-row a { float: right; padding 0 10px}
.page { display: grid; grid-template-columns: 220px 1fr; min-height: 100vh; }
.content {position: relative; padding: 20px 0 0}

.nav-link {text-decoration: none; color: #9b5de5; font-weight: bolder; font-size: 18px;}
.nav-link:hover (text-decoration: underline}

section {
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-weight: bold;
}

#what-is img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.title {
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding: 20px;
    font-size: 60px;
}

.h2{
    font-weight: bold;
}

.benefits {
    display:grid;
    flex-wrap: wrap;
    gap: 20px;
}

.benefit {
    flex: 1 1 calc(50% - 20px);
    padding: 20px;
    border-radius: 8px;
}

.disabled-link {
  pointer-events: none;
  opacity: 0.6;
}

.timeline {
    display:grid;
    flex-direction: column;
    gap: 20px;
}

.step {
    background-color: #F3F4F6;
    padding: 20px;
    border-radius: 8px;
}

#cta {
    text-align: center;
}

#cta button {
    background-color: #3B82F6;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
}

#cta button:hover {
    background-color: #1E3A8A;
}
